/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace; /* Classic terminal font */
  color: #33FF33; /* Terminal green */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: left;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #33ff33;
  font-family: 'Courier New', Courier, monospace;
}

.App-header {
  width: 80%;
  max-width: 800px;
  background-color: transparent;
}

.App-header h1 {
  margin-bottom: 10px;
  text-shadow: 0 0 10px #33FF33; /* Glowing effect on text */
}

/* Terminal blinking cursor effect */
#cursor {
  display: inline-block;
  background-color: #33FF33;
  width: 10px;
  height: 20px;
  animation: blink 1s infinite;
}

/* Blinking cursor keyframe */
@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

button {
  background-color: #33ff33;
  color: black;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: #33FF33;
  border: 1px solid black;
  text-shadow: 0 0 5px #33FF33;
}