/* Resetting some global styles */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  background-color: black; /* Black terminal background */
  color: #33FF33; /* Green terminal text color */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scrollbar hidden for full terminal experience */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}